@model IEnumerable<AgroWork.Models.Vaca>

@{
    ViewData["Title"] = "Index";
}

<h2>Página Vacas</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Criar um Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Raca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Numero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Produtor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Raca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produtor.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Editar</a> &nbsp;
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-default">Detalhes</a> &nbsp;
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
