@model AgroWork.Models.Inseminacao

@{
    ViewData["Title"] = "Delete";
}

<h2>Deletar</h2>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>Inseminacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Touro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Touro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inseminador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inseminador.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produtor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produtor.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vaca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vaca.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-default" /> &nbsp;
        <a asp-action="Index" class="btn btn-default">Voltar</a>
    </form>
</div>
